<section class="section">
  <div class="container">
    <form action="">
      <div class="field">
        <label class="label">Name</label>
        <div class="control">
          <input class="input" type="text" placeholder="Name" />
        </div>
      </div>
      <div class="field">
        <label class="label">Email</label>
        <div class="control">
          <input class="input" type="email" placeholder="Email" />
        </div>
      </div>
      <div class="field">
        <label class="label">Message</label>
        <div class="control">
          <textarea class="textarea" placeholder="Message"></textarea>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <button class="button is-link">Send</button>
        </div>
      </div>
    </form>
  </div>
</section>
