<div class="about-wrapper">
  <div class="about-container">
    <div class="about-text">
      ROM was founded in 20** by Roy Dalach, a geodetic engineer after
      graduating from the Technion - Israel Institute of Technology and working
      for several large companies.<br />
      ROM put itself in high regard as to the given personal attention and eye
      to details. We want to provide value to our clients through the quality of
      our services, not the quantity.
    </div>
  </div>
</div>
