<div class="main">
  <app-nav (showAbout)="handleShowAbout($event)"></app-nav>
  <div class="main-headline" [@transitionTrigger]="toggleInfoContainer">
    <div class="logo">
      <h1>ROM</h1>
    </div>
    <div
      class="information-container"
      [class.information-container-animation]="toggleInfoContainer"
    ></div>
    <div
      [ngClass]="
        toggleInfoContainer ? 'writing-content-toggle' : 'writing-content'
      "
    >
      <div class="rom-measurment flex-center">
        <h2>ROM Measurments</h2>
      </div>
      <div>
        <p class="line-1 anim-typewriter">Exclusive Geodetic Services</p>
      </div>
    </div>
  </div>
  <div class="small-menu">
    <div class="white-border">
      <div (click)="handleShowInformation()">About</div>
    </div>
    <div class="white-border">
      <div>Services</div>
    </div>
    <div class="white-border">
      <div (click)="handleShowInformation()">Contact</div>
    </div>
  </div>
  <app-about *ngIf="toggleInfoContainer"></app-about>
</div>
