<div class="main">
  <app-nav></app-nav>
  <div class="main-headline">
    <div class="logo">
      <h1>ROM</h1>
    </div>
    <div class="information-container">
      <div class="rom-measurment flex-center">
        <h2>ROM Measurments</h2>
      </div>
      <div>
        <p class="line-1 anim-typewriter">Exclusive Geodetic Services</p>
      </div>
      <div class="small-menu">
        <div>
          <button>About</button>
        </div>
        <div>
          <button>Services</button>
        </div>
        <div>
          <button>Contact</button>
        </div>
      </div>
    </div>
  </div>
</div>
