.main {
  background: linear-gradient(rgba(0, 0, 0, 0.535), rgba(0, 0, 0, 0.535)),
    url("../../../assets/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  font-size: 2rem;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.main-headline {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  display: flex;
  height: 60%;
}

.main-headline h1 {
  font-family: "Metrica", sans-serif;
  font-size: 3rem;
}

.information-container {
  border-top: 1px dashed white;
  border-bottom: 1px dashed white;
  height: 25vh;
  width: 40vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

p {
  font-size: 1.2rem;
  font-family: "Lobster", cursive;
}

.line-1 {
  position: relative;
  top: 50%;
  width: 24em;
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}

.small-menu {
  margin-top: 20px;
  width: 100%;
  border: 1px solid red;
  display: flex;
  justify-content: space-evenly;
}

.small-menu div {
  background: linear-gradient(rgba(0, 0, 0, 0.535), rgba(0, 0, 0, 0.535));
}

/* Animation */
.anim-typewriter {
  animation: typewriter 3s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 11em;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}
