@import url("https://fonts.googleapis.com/css2?family=Anton&family=Lobster&display=swap");

@font-face {
  font-family: "Metrica";
  src: url("../src/assets/fonts/Metrica.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Anton", sans-serif;
}
